#app{
    position:absolute;
    left:30%;
    width: 40%;
}
.postForm{
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.post{
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.LikeButton{
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 15px;

}
.LikeButton:hover{background-color:darkred}
.LikeButton:focus {outline:0;}

.UnlikeButton {
    background-color: transparent;
    color: darkred;
    border: none;
    border-radius: 15px;
}
.UnlikeButton:hover{background-color:lightgray}
.UnlikeButton:focus {outline:0;}

.navbar{
    display: flex;
    justify-content: space-around;
}

.CommentButton{
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 15px;
}
.CommentButton:hover{background-color:darkseagreen}
.CommentButton:focus {outline:0;}

.commentForm{
    display: flex;
    justify-content: flex-start;
}
.comment{
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}
.imageButton{
    background-color: transparent;
    color: #007bff;
    margin: 5px;
    border-radius: 15px;
}
.imageButton:hover{background-color:#007bff}

img {
    width: 100%;
}
.commentButton{
    background-color: transparent;
    color: #007bff;
    border: none;
}
.postButton{
    margin: 5px;
    border-radius: 15px;
}